@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1585710022497'); /* IE9 */
  src: url('iconfont.eot?t=1585710022497#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABoAAAAKXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBBIERATYCJAMICwYABCAFhG0HNRu8BRHVkz1kXyXwVCQvuwGkdgubUGsteEE3bncBnG+cppIhfZHgmXj4fr//rX3Oee+fL+7g0bPpdBLTxSMJOkPJf0hUDYkqmsl34pqf3GDRYr9o6sYNfM2jeQc9jn6z3ai49C+mrsONLcy3gMyUPVyXZ7vM/2R/+HxC68BZ+oAIcF8AFAC+AZfjHwEFMg8op7W2/bAmBRhYGuhYgwIOpBgbxi54gccJdJmjAs/bPH6gKuxxgbhXKWWAWkgpCqtWod2wtES8hqrpZTJ4Ff0+/h2JStLKbN6lu9Y8cPqn3RmRf5vi+U9nuQDYKjJ2AApxrbF0QRZMCOsqFUuAY7GDn9emCTziqE7B/jqb2QNmoOqZ1J7mUZkJlKR3DeD4pCtJq/Eo0Bt3B/a3Df8IiLw1toID1n+6zsf68KMm95Oh7nQ8tOzuMvlO9eN7jplPRJ/19cESv5PHb70ftw+n5/2Fr5IyfvPlQH83ohXNp+XzC98fVHRwGs2mL6P84redZ+wbe8vn/7W7gK//7DnSDYsA6s7DwU+qKaMmJXGtHUxFk6KDGUjWJo1N6NKFBo4NeU61jd5RINSCmiHpMIusWiGKYAct3Y6hrTqFLtvsq7sNq8midGJLHSAMWCLp8x7ZgAtRBA+0jPmjbSAyutyI7Zbd1oLLJkfBQDGG8A5ZxDW5Xp3E7BdMujKQvDYSfaC0WRYc0y5Xr1ijLDGj7RNXlYCEK7iA07AsGRrhHCM1U9XmYFnU9CYz4mowGRwFA8UYwjtkEdcUdNdJ5fsvmHRlIB1NdfkPlDbrHxzTHkBcTfWgpkd5pe0TV5WAhCu4gEFYlgxN86AcIzXTCYXmYDmdaKjJ3N5S/UAla8O2p6EzN5v+dHkW8C2rE2MwAAA=') format('woff2'),
  url('iconfont.woff?t=1585710022497') format('woff'),
  url('iconfont.ttf?t=1585710022497') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1585710022497#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wujiaoxing-:before {
  content: "\e647";
}

