*{
    margin: 0;
    padding: 0;
}
.cover{
    position: relative;
    height: 46vh;
    background: url(2.jpeg) no-repeat center;
    background-size: cover;
}
.time{
    height: 30px;
    color: white;
}
.timenow{
    float: left;
    width: 60px;
    text-align: center;
    line-height: 30px;
}
.batterylife{
    float: right;
    width: 60px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}

.return{
    margin-top: 10px;
    height: 30px;
}
.back{
    float: left;
    width: 60px;
    color: white;
    /* font-size: 50px; */
    text-align: center;
    line-height: 30px;
}
.back .iconfont,.camera .iconfont{
    font-size: 30px;
    line-height: 30px;
}
.camera{
    float: right;
    width: 60px;
    color: white;
    /* font-size: 50px; */
    text-align: center;
    line-height: 30px;
}


.id{
    color: white;
    font-size: 20px;
    width: 60px;
    position: absolute;
    bottom: 10px;
    right: 120px;
}
.photo{
    width: 80px;
    height: 80px;
    background: url(1.jpeg);
    background-size: cover;
    position: absolute;
    right: 20px;
    bottom: -20px;
    border-radius: 8px;
}


.weui-media-box__title{
    color: teal;
}
.weui-media-box__desc{
    color: black;
}
.list{
    border-bottom: 1px solid grey
}
.wrapper{
    height: 194px;
    margin-left: 92px;;
}
.imgbox{
    height: 160px;
}
.img1{
    width: 178px;
    height: 100%;
    background: url(1.jpeg);
    background-size: contain;
}
.comment{
    height: 34px;
}
.commenttime{
    float: left;
    font-size: 14px;
    line-height: 34px;
    color: grey;
}
.commentbtn{
    float: right;
    margin-right: 15px;
    height: 100%;
}
.commentbtn .iconfont{
    font-size: 30px;
    line-height: 34px;
}
.content{
    padding-top: 40px;
}
