*{
    margin: 0;
    padding: 0;
}
#map{
    width: 80vw;  /*viewport 相对单位，根据视窗的大小调整*/
    height: 100vh;
    background-color:grey;

}
.suggestion{
    position: absolute;
    top: 0;
    right: 10vw;
    width: 10vw;
    height: 10vh;
    background-color: green;
}
