*{
    margin: 0;
    padding: 0;
}
.container{
    width: 200px;
    height: 600px;
    border: 1px solid black;
    overflow: scroll;
}
.target{
    margin-top: 900px;
    width: 100px;
    height: 100px;
    background-color: gray;
}