.header-wrapper{
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-back{
  position: absolute;
  left: 10px;
}

.header-back2{
  line-height: 40px;
  text-align: center;
}