*
    margin 0
    padding 0
body 
    background-color: grey
.app
    width 100px
    height 20px
    background-color black
    margin-left 100px
    margin-top 200px
.header
    padding 15px 30px 28px 30px
    display: flex
    h2 
        width 137px
        height 37px
        margin-right 20px
    input 
        flex: 1
        outline: none 
        border: none 
        border: 1px solid red
        border-radius: 4px
        height: 56px
    button 
        margin-left 16px
        width 73px
        height 41px